@import "tailwindcss";

@source "../views/**/*.ejs";
@source "../views/**/*.html";
@source "../routes/**/*.js";
@source "../controllers/**/*.js";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
  